:root {
     --espectral: #009977;
     --ten:10px;
}


.felipa-regular {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
}


.contenedor{
     display: grid;
     grid-template-columns: 50px 2fr;
     grid-template-rows:  1fr;
     grid-template-areas: 
     "header header"
     "nav main"
     "footer footer";

     background-color: #04251e;
     color: var(--espectral);
     font-size: 20px;

}

header{
     background-color: blue;
     text-align: center;
     
}

body{
     background-color: #009977;
}


nav{
     padding: 30px;
     font-size: 50px;
     justify-content: space-between;
     background-color:cadetblue;
     display: flex;
}



nav a{
     border-radius: 5px;
     padding: 10px;
     text-decoration: none;
     position: relative;
     
     
}

*{
     margin: 0;
     padding: 0;
}