
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Felipa&display=swap');



.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

.caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}

.caudex-regular-italic {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: italic;
}

.caudex-bold-italic {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: italic;
}




:root {
     --espectral: #009977;
     --backespectral: #04251e;
     --ten:10px;
}

*{
     margin: 0;
     padding: 0;
}


h2{
     margin: 30px;
     font-size: 50px;
}
h3{
     margin-bottom: 20px;
     font-size: 25px ;
}

body{
     background-color: rgb(2, 32, 18);
     margin-left: 40px;
     margin-right: 40px;
     
}
body section{
     border: 10px black solid;
}

header{
     
     background-image:url(assets/soulrever.jpg) ;
     position: relative;
     background-color: black;
     text-align: center;
     
     
}
header img{
     width: 20%;
     height:20%;
}




.felipa-regular {
  font-family: "Felipa", serif;
  font-weight: 400;
  font-style: normal;
}



nav{

     border: black solid 5px;
     font-size: 50px;
   
     background-color:cadetblue;
     display: flex;
     flex-direction:row;
     align-items: stretch;
     justify-content: space-evenly;
     position: relative;

}

nav img{

     
     width: 100%;
     height: 210%;
}
nav a{
text-decoration: none;
   

}

nav p{

     color: rgb(255, 176, 28);
     font-size: 50%;
     white-space: nowrap;
     position: absolute;
     padding-top: 30px;
     padding:40px;
     font-weight: 900;
     transition: transform ease-in-out 2s;
}

nav p:hover{

     transform: translateY(30px);
}


nav div{
     height: 100px;
     width: 100%;
     border: black solid 5px;
     order: 1;
     overflow: hidden;
     
     
     transition: transform 0.5s;
     
     
}

.introdiv img{
     height: 150%;
     width: 100%;
}

.habilidiv img{

     height: 170%;
     width: 150%;
     
}

.magiadiv img{
     height: 150% ;
     width: 100%;
}

nav div:hover{
     transform: scale(1.3);
}




#sobre{
     
     display: grid;
     grid-template-areas: 
     "sobre1 sobre2 sobre3";
     background-color: var(--backespectral);
     color: var(--espectral);
     grid-template-columns:1fr 1fr 1fr;
     grid-template-rows: auto;
     
     border: solid black 10px;
     font-size: 20px;
     font-family: Caudex,serif;
    




}
.sobre1{ 
     grid-area:sobre1;
     padding: 30px;
    
     font-size: 30px;
   
     font-weight: 800;

}

.sobre2{
     
     padding: 30px;
     grid-area: sobre2;
     width:50%;
    
}
.sobre2 img{
     width: 500px;
     height: 500px;
}
.sobre3{
     grid-area: sobre3;
     margin: 30px;
}
.sobre3 img{
     width: 400px;
     height: 500px;
}






#introduccion{
     display: grid;
      grid-template-areas: 
     "intro1 intro2"
     "personajes personajes";
     background-color: var(--backespectral);
     color: var(--espectral);
     grid-template-columns:1fr 1fr;

     border: solid black 10px;
     font-size: 20px;
     font-family: Caudex,serif;
    
}


.intro1{
     grid-area: intro1;
     font-family: Caudex, serif;
   
     margin-left: 20px;
     font-size: 40px;
}

.intro2{
     grid-area: intro2;
     margin-top: 20px;
     margin-left: 20px;
     font-size: 25px;
}

.personajes{
     margin: 40px;
     grid-area: personajes;
     
}
.personajes p{
     margin: 10px;
        font-size: 25px;
}
.personajes a{
     color: black;
     text-decoration: none;
     background-color: var(--espectral);
     border-radius: 7px;
     padding: 20px;
     transition: color 0.5s ease-in;
}
.personajes a:hover{
     color: white;
     cursor: pointer;
}


.lista ol{

     font-size: 30px;

     display: flex;
     flex-direction: row;
     gap: 30px;
     list-style: none;
     flex-wrap: wrap;

     
    
     
}


.lista div{
     margin: 20px;
     padding: 20px;
     /* filter: blur(2px); */
     background-position: center;
     background-size: 130%;
     transition:filter 0.3s ease-in, transform 0.3s ease-in-out;
     height: 200px;
     width: 300px;
     text-align: right;
     

}

.lista div:hover{
     filter: blur(0px);
     transform: scale(1.5);
}



.raziel{
     background-image: url(assets/razil.png);
}
.kain{
     background-image: url(assets/kain.webp);
}
.zephon{
     background-image: url(assets/zephon.webp);
}
.moebius{
     background-image: url(assets/moebius.webp);
}
.rahab{
     background-image: url(assets/rahab.jpg);
}
.dumah{
     background-image: url(assets/dumah.webp);
}
.turel{
     background-image: url(assets/turel.webp);
}
.melchiah{
     background-image: url(assets/melchia.webp);
}






#habilidades{
     
     background-color:var(--backespectral);

}

.habilidadesdiv{

     color:var(--espectral);
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     font-size: 30px;
     justify-content: space-evenly;
     
     text-align: center;
     
     
     
}

.habilidadesdiv h3{
     margin-top: 100px;
     text-align: center;
     font-size: 40px;
}

.habilidadesdiv img{
     margin-top: 90px;
     width: 300px;
     height: 300px;
     border: 10px solid black;
}



#jefes{
     background-color:var(--backespectral);
}
.sectionjefesdiv{
     color: var(--espectral);
     background-color:var(--backespectral);
     text-align: center;
     
}

.sectionjefesdiv p{
     font-size: 30px;
     margin: 30px;

}
.sectionjefesdiv li{
     margin-top: 30px;
     text-align: center;
     font-size: 40px;
     list-style: none;
}

.sectionjefesdiv img{
     width: 320px;
     height: 280px;
     border: 10px solid black;
}



#magia{
     background-color: var(--backespectral);
     color: var(--espectral);
     text-align: center;
     margin-top: 50px;
     
}

table{
     width: 1200px;
     text-align: center;
     margin: auto;
     font-size: 25px;
     
}


table,th,td{
     border: black 10px solid;
     border-collapse: collapse;
}



#contacto{
     background-color: var(--backespectral);
     color:var(--espectral);
     font-size: 25px;
     text-align: center;
}
label{
     margin: 10px;
}
input,textarea{
     margin: 10px;
     background-color: black ;
     color: white;
     border: black solid 6px;
}




footer{
     width: 100%;
     height:4%;
     font-size: 20px;
     background-color: black ;
     font-family: 'Times New Roman', Times, serif;
     color: beige;
     
     bottom: 0px;
     text-align: center;
}



@media screen and (max-width:768px){
     #sobre{
     
     display: grid;
     grid-template-areas: 
     "sobre1" 
     "sobre2"
      "sobre3";
     background-color: var(--backespectral);
     color: var(--espectral);
     grid-template-rows: auto;
     
     border: solid black 10px;
     font-size: 20px;
     font-family: Caudex,serif;
    
}

#introduccion{
     display: grid;
      grid-template-areas: 
     "intro1"
      "intro2"
     "personajes"
      "personajes";
     background-color: var(--backespectral);
     color: var(--espectral);
     grid-template-rows:auto;

     font-size: 20px;
     font-family: Caudex,serif;
     
    
}
video{
     width: 400px;
     height: 400px;
}
table{
     width: 400px;
     text-align: center;
     margin: auto;
     font-size: 25px;
     
}
.sobre2 img{
     width: 440px;
}
iframe{
     width: 400px;
     height: 300px;
}

nav{

     width: 90%;
     font-size: 50px;
     margin: auto;
     background-color:cadetblue;
     display: flex;
     flex-direction:column;
     align-content: center;
     justify-content: space-evenly;
     position: relative;

}

nav div{
     height: 180px;
     width: 100%;

     order: 1;
     overflow: hidden;
     
     
     transition: transform 0.5s;
     
     
}

nav p{

     color: rgb(255, 176, 28);
     font-size: 50%;
     white-space: nowrap;
     position: absolute;
     
     font-weight: 900;
     transition: transform ease-in-out 2s;
}


}


@media screen and (max-width:480px){
     #sobre{
     
     display: grid;
     grid-template-areas: 
     "sobre1" 
     "sobre2"
      "sobre3";
     background-color: var(--backespectral);
     color: var(--espectral);
     grid-template-rows: auto;
     
     border: solid black 10px;
     font-size: 20px;
     font-family: Caudex,serif;
    
}

#introduccion{
     display: grid;
      grid-template-areas: 
     "intro1"
      "intro2"
     "personajes"
      "personajes";
     background-color: var(--backespectral);
     color: var(--espectral);
     grid-template-rows:auto;

     font-size: 10px;
     font-family: Caudex,serif;
     
    
}
video{
     width: 300px;
     height: 300px;
}
table{
     width: 300px;
     text-align: center;
     margin: auto;
     font-size: 20px;
     
}
.sobre2 img{
     width: 300px;
     height: 300px;
}
.sobre3 img{
     width: 300px;
     height: 400px;
}
iframe{
     width: 400px;
     height: 300px;
}

nav{

     width: 90%;
     font-size: 50px;
     margin: auto;
     background-color:cadetblue;
     display: flex;
     flex-direction:column;
     align-content: center;
     justify-content: space-evenly;
     position: relative;

}

nav div{
     height: 180px;
     width: 100%;

     order: 1;
     overflow: hidden;
     
     
     transition: transform 0.5s;
     
     
}

nav p{

     color: rgb(255, 176, 28);
     font-size: 50%;
     white-space: nowrap;
     position: absolute;
     
     font-weight: 900;
     transition: transform ease-in-out 2s;
}
.intro1 p{
     
     font-size: 20px;
     width: 70%;
     
}


.personajes{
     margin: 20px;
     grid-area: personajes;
     
}
.personajes p{
     margin: 10px;
        font-size: 25px;
}
.personajes a{
     color: black;
     text-decoration: none;
     background-color: var(--espectral);
     border-radius: 7px;
     padding: 20px;
     transition: color 0.5s ease-in;
}
.personajes a:hover{
     color: white;
     cursor: pointer;
}


.lista ol{

     font-size: 30px;

     display: flex;
     flex-direction: row;
     gap: 30px;
     list-style: none;
     flex-wrap: wrap;

     
    
     
}


.lista div{
     margin: 20px;
     padding: 20px;
     /* filter: blur(2px); */
     background-position: center;
     background-size: 130%;
     transition:filter 0.3s ease-in, transform 0.3s ease-in-out;
     height: 200px;
     width: 280px;
     text-align: right;
     

}

.lista div:hover{
     filter: blur(0px);
     transform: scale(1.5);
}

h3{
     font-size: 20px;
}
iframe{
     width: 300px;
     height: 300px;
}

}